body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background: rgb(117, 159, 139);
}

.title {
    text-align: center;
    padding: 50px 0 20px;
    color: whitesmoke;

}

.title h1 {
    margin: 0;
    padding: 0;
    text-transform: uppercase;
    font-size: 36px;
}

.container {
    width: 40%;
    height: 350px;
    background: whitesmoke;
    margin: 0 auto;
    box-shadow: 0 15px 30px;
    border-radius: 10px;
}

.container .picture {
    float: left;
    width: 20%;
    transform: translate(50%, 300%);
    outline: none;
    height: 40px;
}

.container .info {
    float: right;
    width: 50%;
    height: 350px;
    padding: 95px 40px;
}

.container .info p {
    margin: 0;
    padding: 1px;
    font-weight: bold;
    color: rgb(165, 174, 20);
}

.container .info input {
    width: 270px;
    margin-bottom: 20px;
    padding: 5px;
    background: none;
}

.container .info input[type="text"],
.container .info input[type="Password"] {
    border: none;
    border-bottom: 2px solid #a5ae14;
}


.container .info .btn input {
    border: none;
    padding: 10px;
    background-color: #262626;
    color: whitesmoke;
    font-size: 15px;
    border-radius: 5px;
    cursor: pointer;
}

.container .info  {
    font-size: 12px;
    font-weight: bold;
}

